body {
    display:flex;
    flex-direction:column;
    background: linear-gradient(150deg, #f44336, #E91E63, #9C27B0);
    background-size: 400% 400%;
    animation: BackgroundGradient 10s ease infinite;
    margin: 0;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}



.btn{

  background: linear-gradient(150deg, #f44336, #E91E63, #9C27B0);
    animation: BackgroundGradient 3s ease infinite;
    margin: 0;
  color:beige;

}


#opt03 .btn {
  transition: width;
  transition-duration: 0.5s;
  transition-delay: 1s;
}

#opt03 .btn:hover {
  width: 100%;
  color:beige;
}

#opt02 .btn {
  transition: border-radius;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

#opt02 .btn:hover {
  border-radius: 50%;
  border-color:#f44336;
  border-width: 0.188em;
  background-color:#E91E63;
  
}

.ok{

  border-color: green;
  border-width: 0.313em;
  background-image: url('../img/ok.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 1%;
   

}

.ko{

  border-color: red;
  border-width: 0.313em;
  background-image: url('../img/error.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 1%;
  

}

.reg{

  width: 6.25em;
  height: 2.625em;
  background-image: url('../img/reg.gif');
  background-position:center;
  background-repeat: no-repeat;
  background-size:48px;
  animation: BackgroundGradient 0s ease infinite;
  

}

.animacion{

  max-width: 25em;
  max-height: 25em;
  width: auto;
  height: auto;

}

#globo1{
  transform: translate(0%,110%);
  
  
  animation: moveGlobo 10s .5s  infinite;

}

#globo2{

  transform: translate(0%,120%);
  animation: moveGlobo 9s .5s ease infinite;

}

#globo3{

  transform: translate(0%,150%);
  animation: moveGlobo 7s .7s ease infinite;

}

#globo4{

  transform: translate(0%,130%);
  animation: moveGlobo 12s .5s ease infinite;

}

#globo5{

  transform: translate(0%,170%);
  animation: moveGlobo 7s .8s ease infinite;

}

#globo6{

  transform: translate(0%,140%);
  animation: moveGlobo 8s .6s ease infinite;

}


@keyframes moveGlobo {

  100%{
    transform:unset;
  }
}